{% extends 'partials/navbar.html' %}
{% block question_container %} {% endblock %}

{% block title %} Home Page {% endblock %}

{% block profile_identification %}
  {% if user.is_authenticated %}
    {{ user.username|first|upper }}
  {% else %}
    ?
  {% endif %}
{% endblock %}

{% block handWave %} 👋 {% endblock %}

{% block greeting %}
  {% if user.is_authenticated %}
    Welcome to Stack Overflow, {{ user.username }}!
  {% else %}
    Welcome to Stack Overflow!
  {% endif %}
{% endblock %}

{% block paragraph %} Find answers to your technical questions and help others answer theirs. {% endblock %}

{% block button_class %} ask-question {% endblock %}

{% block question %} Ask Question {% endblock %}

{% block homeContainer %}
  {{ block.super }}
{% endblock %}
