{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}?v=2" />

    <title>Login Page</title>
  </head>
  <body>
    <marquee scrollamount="15"><h1>Welcome to Stack overflow</h1></marquee>
    <div class="login-page">
      <h1 class="login-header">Log in</h1>
      <p>
        Don't have an account
        <a class="signup-render" href="{% url 'accounts:signup' %}">sign up</a>
      </p>
      <form method="POST" class="login-form">
        {% csrf_token %}
        <label for="username">Username </label>
        <input
          type="text"
          id="username"
          name="username"
          class="login-fields"
          placeholder="Enter a valid username..."
          required
        />

        <label for="password">Password </label>
        <input
          type="password"
          id="password"
          name="password"
          class="login-fields"
          placeholder="Enter a valid password..."
          required
        />
        <button type="submit" class="login-button">Log in</button>
      </form>
    </div>
    <script src="{%static 'js/render.js' %}?v=1"></script>
  </body>
</html>
